/* You can add global styles to this file, and also import other style files */
$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import './variables';

html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Helvetica Neue", Roboto, sans-serif;
  line-height: 1.4em;
  background: $background-color;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

:focus {
  outline: 0;
}

.hidden {
  display: none;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: rgba(66, 66, 66, 0.7);
}
